{
  "presets": ["@babel/preset-react"],
  "env": {
    "development": {
      "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/proposal-function-bind"
      ]
    },
    "production": {
      "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/proposal-function-bind"
      ]
    }
  }
}
