{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-function-bind",
    "@babel/transform-modules-commonjs"
  ]
}
